h1 {
    text-align: center;
}

form {
    margin: auto;
}

label, input, button {
    display: block;
    margin: 10px;
}

button {
    padding: 8px 16px;
    cursor: pointer;
}

.error {
    color: red;
}

span {
    margin: 10px;
}